@font-face {
    font-family: 'DSEG7-Modern-Mini-Regular';
    src: url('../static/fonts/DSEG7ModernMini-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
@font-face {
    font-family: 'DSEG14-Modern-Regular';
    src: url('../static/fonts/DSEG14Modern-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
@font-face {
    font-family: 'DSEG14-Modern-Bold';
    src: url('../static/fonts/DSEG14Modern-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
  }

body {
    font-family: 'Arial Mono', monospace;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(94, 99, 105);
    width: 1024px;
}

.section {
    display: flex;
    width: auto;
    padding-top: 15px;
    background:
    url('../static/textures/brushed-alumnium.png') no-repeat center center fixed; /* Background image */
    background-size: cover;
    background-blend-mode: overlay, soft-light; /* Blend for a realistic finish */
    background-color: rgba(0, 0, 0, 0.2);
}

.section-metrics {
    padding-top: 2px;
    padding-bottom: 16px;
}

.labels {
    display: grid;
    flex-direction: column;
    text-align: right;
    align-items: center;
    font-size: 3rem;
    width: 6%;
    font-family: 'Arial Narrow';
    font-weight: bold;
    color: white;
    text-shadow: 1px 1px 1px black;
    margin-right: 14px;
    -webkit-text-stroke: #181818 0.08rem;
    z-index: 1;
    padding-top: 6px;
    padding-bottom: 6px;
}


.labels-metrics {
    padding-top: 38px;
    font-size: 1.1rem;
    align-content: center;
    line-height: 1.5em;
    -webkit-text-stroke: #181818 0.04rem;
}

.labels-metrics-horizontal {
    font-size: 1.3em;
    padding-top: 0px;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 4px;
    width: 100%;
}


.lcd-display {
    font-family: "DSEG14-Modern-Regular", monospace;
    background-color: hsl(223, 86%, 28%);
    border-radius: 12px;
    outline: 6px solid black;
    outline-style: inset;
    overflow: hidden;
    line-height: 1.25em;
    width: auto;
    height: auto;
    padding: 8px;
    z-index: 10;
    box-shadow: 
        inset 0 0 4px rgba(0, 0, 0, 0.3), /* Inner glow for VFD effect */
        0 0 24px rgb(22, 70, 158); /* Outer glow for lighting */
}

/* Add a reflective glass effect */
.lcd-display:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));    border-radius: 12px;
    pointer-events: none; /* Ignore mouse events */
    z-index: 10; /* Overlay the glass effect */
}

.lcd-display-layer {
    position: relative;
    display: grid; /* Use flex to align rows */
    flex-direction: column; /* Stack dimmed rows vertically */
    pointer-events: none; /* Ignore mouse events */
    overflow: hidden;
}

/* Background dimmed layer */
.lcd-display-dimmed {
    position: absolute;
}

.lcd-char-dim {
    color: hsla(208, 82%, 51%, 0.1);
    text-shadow: 
        0 0 6px hsla(200, 85%, 53%, 0.5), /* Strong glow */
        0 0 12px hsla(207, 88%, 53%, 0.3); /* Softer secondary glow */
    z-index: 1;
}


.lcd-display-layer span {
    position: relative;
    white-space: nowrap; /* Prevent individual rows from wrapping */
}

/* Active segments (bright) */
.lcd-display-layer span:not(.lcd-char-dim) {
    z-index: 2;
    color: hsl(179, 96%, 82%); /* Bright cyan-green for active segments */
    text-shadow: 
        0 0 6px hsla(200, 85%, 53%, 0.5), /* Strong glow */
        0 0 12px hsla(207, 88%, 53%, 0.3); /* Softer secondary glow */
    -webkit-text-stroke: hsla(190, 80%, 50%) 0.011em;

}

.position-display {
    position: relative;
    display: flex;
    width: 705px;
    height: auto;
    font-size: 6rem;
    /* color: white; */
}

.metrics-display {
    position: relative;
    display: flex;
    width: 705px;
    font-size: 1.3rem;
    flex-direction: row;
    height: auto;
}

.metrics {
    display: flex;
    flex-direction: column;
    width: 25%;

}

